.login {
    display: flex;
    flex-direction: row;
}

.description {
    width: 50%;
    margin: 3% 3% 3% 3%;
}

.img-logo {
    width: 70%;
    margin-top: 15%;
    margin-bottom: 8%;
}

.description-text {
    font-size: 26pt;
    margin-bottom: 10%;
    line-height: 2;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
}

#login {
    width: 50%;
    margin-top: 10%;
}

#formRegister {
    width: 50%;
    margin-top: 7%;
}

.login-text {
    margin-top: 5%;
}

#btn-login {
    width: 65%;
    margin-top: 10%;
    font-size: 15pt;
}

#btn-register {
    width: 65%;
    margin-top: 7%;
    font-size: 15pt;
}

#btn-google,
#btn-google-register {
    width: 65%;
    margin-top: 5%;
    font-size: 15pt;
}

.links {
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 12pt;
}

.header-feed {
    height: 12vh;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "logo . ." "logo . icons";
}

.logo-feed {
    width: 55%;
    grid-area: logo;
}

.icons {
    display: block;
    grid-area: icons;
}

.imgHome-header,
.imgLogout-header {
    width: 22%;
    cursor: pointer;
}

.imgLogout-header {
    margin-left: 12%;
}

.footer-feed {
    display: none;
}

.post {
    margin: auto;
    width: 60%;
    margin-bottom: 5px;
    grid-template-columns: 10% 70% 12% 8%;
    grid-template-rows: 50% 30% 20%;
    grid-template-areas: 
    "imgProfile name edit delete" 
    "textPost textPost textPost textPost" 
    "date date . like";
}

#date{
    grid-area: date;
}

#textPost {
    font-size: 10pt;
    font-weight: normal;
}

#userName {
    font-size: 12pt;
    justify-self: left;
    margin-top: 2%;
}

.imgProfile {
    width: 60%;
    height: 6vh;
    justify-self: center;
}

.editPost {
    justify-self: end;
    cursor:pointer;
}

.deletePost {
    justify-self: center;
    cursor: pointer;
}

.like{
    cursor: pointer;
}

.displayPost{
    display: block;
}

.createPost{
    width: 60%;
    margin: auto;
    margin-bottom: 5px;
    grid-template-columns: 10% 76% 13%;
    grid-template-rows: 39% 36% 23%;
    grid-template-areas: 
    "imgProfile name ." 
    "inputPost inputPost inputPost" 
    ". . postButton";
}

#postButton{
    margin-top: 7%;
    margin-right: 20%;
    margin-bottom: 2%;
}