.login {
    display: flex;
    flex-direction: row;
}

.description {
    width: 50%;
    margin: 3% 3% 3% 3%;
}

.img-logo {
    width: 70%;
    margin-top: 15%;
    margin-bottom: 8%;
}

.description-text {
    font-size: 26pt;
    margin-bottom: 10%;
    line-height: 2;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
}

#login {
    width: 50%;
    margin-top: 10%;
}

#formRegister {
    width: 50%;
    margin-top: 7%;
}

.login-text {
    margin-top: 5%;
}

#btn-login {
    width: 65%;
    margin-top: 10%;
    font-size: 15pt;
}

#btn-register {
    width: 65%;
    margin-top: 7%;
    font-size: 15pt;
}

#btn-google,
#btn-google-register {
    width: 65%;
    margin-top: 5%;
    font-size: 15pt;
}

.links {
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 12pt;
}

.header-feed {
    height: 12vh;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "logo . ." "logo . icons";
}

.logo-feed {
    width: 50%;
    grid-area: logo;
}

.icons {
    display: block;
    grid-area: icons;
}

.imgHome-header,
.imgLogout-header {
    width: 22%;
}

.imgLogout-header {
    margin-left: 12%;
}

.footer-feed {
    display: none;
}

.post {
    padding-top: 2%;
    margin: auto;
    width: 60%;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 30% 50% 20%;
}

#textPost {
    font-size: 10pt;
    font-weight: normal;
}

#userName {
    font-size: 12pt;
    grid-area: userName;
    margin-top: 2%;
}

.containerUser {
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

#editPost {
    margin-right: 50%;
}

.imgProfile {
    width: 45%;
    justify-self: center;
    margin-left: 10%;
}