* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

#data-router {
    width: auto;
}

main {
    width: 100%;
}

.description {
    background-color: #F9CB24;
    width: 90%;
    margin: 5% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

.img-logo {
    width: 95%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.description-text {
    font-size: 16pt;
    margin-bottom: 10%;
}

.form-login {
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    background-color: #2D2E2E;
    border-color: #626C66;
    border-radius: 5px;
    padding: 1.5%;
    color: #f4f4f4;
}

.login-text {
    color: #f4f4f4;
    margin-top: 5%;
    margin-left: 10%;
}

button {
    background-color: #8B1820;
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    border-style: none;
    color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5%;
    cursor: pointer;
}

#btn-login,
#btn-register {
    width: 75%;
    margin: auto;
    margin-top: 10%;
}

#btn-google,
#btn-google-register {
    width: 75%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#errormessage {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    color: #f4f4f4;
}

.links {
    color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    font-size: 10pt;
    margin-bottom: 10%;
}

#register,
#signUp {
    color: #8B1820;
    cursor: pointer;
    margin-left: 2%;
}

.header-feed {
    display: grid;
    width: auto;
    background-color: #F9CB24;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.67);
}

.logo-feed {
    height: 75%;
    width: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-self: center;
}

.icons {
    display: none;
}

.footer-feed {
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: #F9CB24;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px -6px 11px 5px rgba(0, 0, 0, 0.67);
}

.imgHome,
.imgPost,
.imgLogout {
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.post {
    z-index: -3;
    background-color: #2D2E2E;
    border-radius: 5px;
    color: #f4f4f4;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    grid-template-rows: 30% 50% 20%;
    grid-template-areas: 
    "imgProfile name edit delete" 
    "textPost textPost textPost textPost" 
    ". . . like";
}

.imgProfile {
    grid-area: imgProfile;
    height: 75%;
    place-self: center;
}

#userName {
    align-self: center;
    justify-self: center;
    
}

.editPost {
    grid-area: edit;
    align-self: center;
    justify-self: center;
}

.deletePost {
    grid-area: delete;
    align-self: center;
}

.containerUser {
    grid-area: name;
}

#textPost {
    grid-area: textPost;
    place-self: center;
    margin-left: 5%;
    margin-right: 3%;
    font-weight: normal;
}

.like {
    grid-area: like;
    height: 50%;
    align-self: center;
    justify-self: end;
    margin-right: 30%;
}

.displayPost{
    display: none;
}

.createPost {
    margin-bottom: 5px;
    z-index: -3;
    background-color: #2D2E2E;
    border-radius: 5px;
    color: #f4f4f4;
    display: grid;
    grid-template-columns: 20% 60% 17%;
    grid-template-rows: 30% 43% 17%;
    grid-template-areas: 
    "imgProfile name ." 
    "inputPost inputPost inputPost" 
    ". . postButton";
}

.inputPost{
    background-color: #2D2E2E;
    border-color: #626C66;
    border-radius: 5px;
    padding: 1.5%;
    color: #f4f4f4;
    grid-area: inputPost;
    margin-left: 5%;
    margin-top: 1%;
    width: 92%;
    
}

#postButton{
    grid-area: postButton;
    margin-top: 12%;
}